<div id="nav1" class="menu_pc">
  <div class="row">
    <div class="col-sm-2 col-md-2">
      <div class="logo_creden header_logo">
        <a href="/" alt="หน้าแรก">
          <img src="https://data.creden.co/assets/images/creden_logos.png" width="160" class="img-fluid">
        </a>
      </div>
    </div>
  <div class="col-sm-4 col-md-4 nopad" style="margin-top: 4px !important;">
    <div style="display: flex;">
      <div class="col-10">
        <div class="row">
          <div class="col-12 nopad">
            <div class="form-control-search pt-2 col">
              <div class="input-group">
                <div class="input-group-prepend">
                  <button type="button" data-toggle="dropdown" id="dropdownMenuButton" 
                  aria-haspopup="true" aria-expanded="false" class="btn border dropdown-toggle border-radius-left"
                  style="width: 116px; text-align: left; color: rgb(22, 103, 178); font-size: 14px;">
                  ขึ้นต้นด้วย
                  <span style="position: absolute; right: -15px; top: 0px;">
                    <i id="filtersubmit" class="fa fa-angle-down btn-expand ml-2 icon-right" style="color: rgb(33, 103, 179) !important;">
                    </i>
                  </span>
                  </button>
                <div aria-labelledby="dropdownMenuButton" class="dropdown-menu navber_servicesbus"
                style="font-size: 14px; will-change: transform;">
                </div>
                <input type="text" class="form-control border-right-0" 
                placeholder="กรอกชื่อบริษัทหรือหมายเลขทะเบียนนิติบุคคล"
                style="border: 1px solid rgb(206, 212, 218); font-size: 14px;">
                <span class="input-group-append bg-white border-left-0 border-radius-right"
                style="border: 1px solid rgb(206, 212, 218); width: 50px;">
                  <span role="button" class="input-group-text bg-transparent" style="border: none;">
                  </span>
                </span>
              </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  </div>
</div>

<div id="nav" class="container-fluid bg_creden">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="logo_creden">
          <h1>
            บริษัท เท็คไอทีโซลูชั่น จำกัด
          </h1>
          <h2>TAKE IT SOLUTION CO.,LTD.</h2>
        </div>
      </div>
    </div>
  </div>
</div>

<div>
  <div class="container-fluid bg_menu">
    <div class="container">
      <nav class="wrap_mainmenu row wow fadeInDown">
        <ul class="mainmenu col-12 mainmenu-align"></ul>
      </nav>
    </div>
  </div>
</div>

<div class="container-fluid bg-content">
  <div class="container nopad_mobile">
    <div class="row" style="margin-top: 30px;">
      <div class="col-12 col-md-12 col-lg-12 pb-2 pb-xl-3">
        <div class="box_bgtable">
          <h3>
            แนวโน้มการเติบโตของรายได้รวม กำไร (ขาดทุน) และสินทรัพย์รวม บริษัท เท็คไอทีโซลูชั่น จำกัด 
          </h3>
          <p class="text-check-login">
            บริษัท เท็คไอทีโซลูชั่น จำกัด ประกอบธุรกิจประเภท  ข้อมูลข่าวสารและการสื่อสาร โดยให้บริการด้าน กิจกรรมการจัดการสิ่งอำนวยความสะดวกด้านคอมพิวเตอร์
          </p>
          <p class="text-check-login">
            กรุณาเข้าสู่ระบบก่อนใช้งาน หรือสมัครสมาชิก ฟรี
          </p>
          <a href="/login" alt="หน้าล็อกอิน" class="btn-checklogin" >เข้าสู่ระบบ</a>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-12 col-md-12 col-lg-6">
        <div class="box_bgtable">
          <h3>ข้อมูลทั่วไปของ บริษัท เท็คไอทีโซลูชั่น จำกัด</h3>
          <div class="table-responsive">
            <table class="table table-striped">
              <thead>
              </thead>
            </table>
          </div>
        </div>
      </div>
      <div class="col-12 col-md-12 col-lg-6">
        <div class="box_bgtable">
          <h3>ข้อมูลธุรกิจของ บริษัท เท็คไอทีโซลูชั่น จำกัด</h3>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-12 col-md-12 col-lg-6">
        <div class="box_bgtable">
          <h3>เครดิตทางการค้า บริษัท เท็คไอทีโซลูชั่น จำกัด </h3>
          <div class="table-responsive">
            <table class="table table-striped">
              <thead>
              </thead>
            </table>
          </div>
        </div>
      </div>
      <div class="col-12 col-md-12 col-lg-6">
        <div class="box_bgtable">
          <h3>อันดับธุรกิจ บริษัท เท็คไอทีโซลูชั่น จำกัด</h3>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-12 col-md-12 col-lg-6 credit_term_and_ccc pc">
        <div class="box_credit_term pc mb-3">
          <h3>วงจรเงินสดทางการเงิน (TBS CCC Index)</h3>

        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-12 col-md-12 col-lg-6 space_content">
        <div class="box_bgtable">
          <h3>กรรมการและผู้มีอำนาจลงนาม  TAKE IT SOLUTION CO.,LTD.</h3>
          <div class="table-responsive">
            <table class="table table-striped">
              <thead>
              </thead>
            </table>
          </div>
        </div>
      </div>
      <div class="col-12 col-md-12 col-lg-6 space_content">
        <div class="box_bgtable">
          <h3>สัดส่วนผู้ถือหุ้น TAKE IT SOLUTION CO.,LTD.</h3>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-12 col-md-12 col-lg-6">
        <div class="box_change_history">
          <h3>ประวัติการเปลี่ยนแปลง</h3>
          <div class="table-responsive">
            <table class="table table-striped">
              <thead>
              </thead>
            </table>
          </div>
        </div>
      </div>
      <div class="col-12 col-md-12 col-lg-6">
        <div class="box_maps pc">
          <h3>ที่อยู่ บริษัท เท็คไอทีโซลูชั่น จำกัด</h3>
          <p>135/2 อาคารอมรพันธุ์ 205 ทาวเวอร์ 2 ชั้นที่ 1 ซอยนาทอง ถนนรัชดาภิเษก แขวงดินแดง เขตดินแดง กรุงเทพมหานคร</p>
          <iframe loading="lazy" src="https://www.google.com/maps/embed/v1/place?key=AIzaSyDZHFn1Uv4Yf8MkJWv3xOPecVRPP1GsSOE&q=135/2%20%E0%B8%AD%E0%B8%B2%E0%B8%84%E0%B8%B2%E0%B8%A3%E0%B8%AD%E0%B8%A1%E0%B8%A3%E0%B8%9E%E0%B8%B1%E0%B8%99%E0%B8%98%E0%B8%B8%E0%B9%8C%20205%20%E0%B8%97%E0%B8%B2%E0%B8%A7%E0%B9%80%E0%B8%A7%E0%B8%AD%E0%B8%A3%E0%B9%8C%202%20%E0%B8%8A%E0%B8%B1%E0%B9%89%E0%B8%99%E0%B8%97%E0%B8%B5%E0%B9%88%201%20%E0%B8%8B%E0%B8%AD%E0%B8%A2%E0%B8%99%E0%B8%B2%E0%B8%97%E0%B8%AD%E0%B8%87%20%E0%B8%96%E0%B8%99%E0%B8%99%E0%B8%A3%E0%B8%B1%E0%B8%8A%E0%B8%94%E0%B8%B2%E0%B8%A0%E0%B8%B4%E0%B9%80%E0%B8%A9%E0%B8%81%20%E0%B9%81%E0%B8%82%E0%B8%A7%E0%B8%87%E0%B8%94%E0%B8%B4%E0%B8%99%E0%B9%81%E0%B8%94%E0%B8%87%20%E0%B9%80%E0%B8%82%E0%B8%95%E0%B8%94%E0%B8%B4%E0%B8%99%E0%B9%81%E0%B8%94%E0%B8%87%20%E0%B8%81%E0%B8%A3%E0%B8%B8%E0%B8%87%E0%B9%80%E0%B8%97%E0%B8%9E%E0%B8%A1%E0%B8%AB%E0%B8%B2%E0%B8%99%E0%B8%84%E0%B8%A3"
          allowfullscreen="allowfullscreen" frameborder="0" width="100%" style="border:0;padding-top: 10px;padding-bottom: 10px;">

          </iframe>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="container-fluid nopad bg_footer mt-2">
  <div class="footer_layout">
    <div class="row copyright">
      <div class="col-12 col-md-12 col-lg-5 mt-3">
        <p>© สงวนสิทธิ์ 2564 ครีเดน เอเชีย จำกัด Ver. 2.0 </p>
      </div>
      <div class="col-12 col-md-12 col-lg-7 pt-lg-2 pt-md-3 text-lg-right">

      </div>
    </div>
  </div>
</div>

<router-outlet></router-outlet>
